//  this is the about page styling

.about-title {
  text-align: center;
  color: #00857a;
  padding: 30px;
}

#about h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #00857a;
}

#about p {
  font-size: 16px;
  color: gray;
}
