// This is the education page styling

.education {
  padding: 60px 0;
}

.education h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #00857a;
}

.education p {
  font-size: 16px;
  color: gray;
}
